/* 
   Style name: Random data styles
   Author: Megacodist
   Description: Custom styles for random data page of megacodist.com
   Version: 1.0.0
*/

#alert-container {
  position: fixed;
  top: 20px; /* Adjust the vertical position as needed */
  right: 20px; /* Adjust the horizontal position as needed */
  z-index: 1050; /* Ensure it's above other elements */
  width: auto; /* You can set a specific width if required */
}

#rand-data-container {
  /* Create a flex container */
  display: flex;
  /* Set flex direction to row (horizontal) */
  flex-direction: row;
  /* Add horizontal scrollbar when content overflows */
  overflow-x: auto;
  /* Prevents the flex container from growing beyond its parent or viewport */
  max-width: 100%; /* or you can set a specific width if needed */
  /* Allows the container to shrink if there's not enough space */
  flex-shrink: 1;
  /* Optional: Remove default margin and padding */
  margin: 0;
  padding: 0;
}

.rand-data-col {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.rand-data {
  display: block;
}
