# Ignoring Python cache files & folders...
/**/__pycache__/**
*.pyc
*.pyo
*.pyd
*.db

# Ignoring settings & environment variables...
/.env

# Ignoring Git files & folders...
/.git
/.dockerignore

#
/webapp/core/settings-development.py