# Ignoring virtual environment files & folders...
/Include/**
/Lib/**
/Scripts/**
/pyvenv.cfg

# Ignoring Python cache files...
/**/__pycache__/**

# Ignoring settings & environment variables...
/.env

# Ignoring Docker TAR file...
/megacodist.com.tar
