{#-
  This template extends 'base.j2' to serve as License page for
  Megacodist Coding Blog.

  environment = {
    'app_name': # The name of the web application
  }

  No special context is needed.
-#}

{% extends 'base.j2' %}

{% block title %} Challneges - {{ super() }} {% endblock title %}

{% block main %}
  {{ super() }}
  <a href="{{ url('challenges:rps') }}"><h3>Rock, Paper, Scissors</h3></a>
  <a href="{{ url('challenges:random-ints') }}"><h3>Random integers</h3></a>
{% endblock main %}