{#-
  This template extends 'base.j2' to serve as License page for
  Megacodist Coding Blog.

  environment = {
  'app_name': # The name of the web application
  }

  No special context is needed.
-#}

{% extends 'base.j2' %}

{% block title %} Rock, Paper, Scissors - {{ super() }} {% endblock title %}

{% block style %}
  {{ super() }}
  div.game-info {
    margin: 20px;
    display: flex;
  }
  div.player-info {
    flex: 1;
    padding: 20px;
    border: 2px solid red;
  }
  #lplayer-info {
    justify-content: right;
  }
  #alert-container {
    position: fixed;
    top: 20px; /* Adjust the vertical position as needed */
    right: 20px; /* Adjust the horizontal position as needed */
    z-index: 1050; /* Ensure it's above other elements */
    width: auto; /* You can set a specific width if required */
  }
  #operations {
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
  }
{% endblock style %}

<style>
</style>

{% block main %}
  {{ super() }}
  <div id="alert-container"></div>

  <!-- The game info div -->
  <div class="game-info">
    <!-- Left player info div -->
    <div class="border border-warning player-info" id="lplayer-info">
      <!-- Selecting left player -->
      <div class="btn-group float-end" id="combo-lplayer">
        <button type="button" class="btn btn-outline-warning dropdown-toggle" id="lplayer-name" data-bs-toggle="dropdown" aria-expanded="false">
          Select left player
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">User</a></li>
          <li><a class="dropdown-item" href="#">Computer</a></li>
        </ul>
      </div>
      <!-- Left player score -->
      <p class="score" id="lplayer-score"></p>
    </div>
    <!-- Right player info div -->
    <div class="border border-warning player-info">
      <!-- Selecting player -->
      <div class="btn-group" id="combo-rplayer">
        <button type="button" class="btn btn-outline-warning dropdown-toggle" id="rplayer-name" data-bs-toggle="dropdown" aria-expanded="false">
          Select right player
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">User</a></li>
          <li><a class="dropdown-item" href="#">Computer</a></li>
        </ul>
      </div>
      <!-- Right player score -->
      <p class="score" id="rplayer-score"></p>
    </div>
  </div>

  <!-- Operations -->
  <div id="operations">
    <div class="btn-group" role="group" aria-label="Operations of Rock, Paper, Scissors game">
      <button type="button" class="btn btn-dark" id="pause">Pause</button>
      <button type="button" class="btn btn-dark" id="rock" data-code="1"><img src="{{ static('challenges/rps/rock.png') }}" style="width: 40px;"></button>
      <button type="button" class="btn btn-dark" id="paper" data-code="2"><img src="{{ static('challenges/rps/paper.png') }}" style="width: 40px;"></button>
      <button type="button" class="btn btn-dark" id="scissors" data-code="3"><img src="{{ static('challenges/rps/scissors.png') }}" style="width: 40px;"></button>
      <button type="button" class="btn btn-dark" id="start-stop">Start</button>
    </div>
  </div>

  <section class="notes">
    <h6>Notes</h6>
    <ul>
      <li>
        The three images of rock, paper, and scissors are remixes of a
        <a href="https://www.freepik.com/free-vector/colourful-hands_1347305.htm">work</a>
        from
        <a href="https://www.freepik.com/author/brgfx">brgfx</a>
        .
      </li>
    </ul>
  </section>

{% endblock main %}

{%- block endingScripts %}
  {{ super() }}
  document.addEventListener(
    'DOMContentLoaded',
    onDomLoaded
  );


  function onDomLoaded() {
    // Showing selected player in the dropdown...
    const dropdownMenus = document.querySelectorAll('.dropdown-menu');
    dropdownMenus.forEach((item) => {
      item.addEventListener(
        'click',
        (event) => {
          // Getting the selected player text...
          const selectedPlayer = event.target.textContent;
          const dropdownButton = item.previousElementSibling
          dropdownButton.textContent = selectedPlayer
        }
      )
    })
    // Disabling some buttons...
    document.getElementById('pause').disabled = true;
    document.getElementById('rock').disabled = true;
    document.getElementById('paper').disabled = true;
    document.getElementById('scissors').disabled = true;
    // Adding click handler for `start-stop` button...
    document.getElementById('start-stop').addEventListener(
      'click',
      onStartStopClicked
    );
    // Attaching click event listener to each rock, paper, scissors buttons...
    var rpsBtns = document.querySelectorAll('#rock, #paper, #scissors');
    rpsBtns.forEach(
      (button) => {
        const choiceCode = button.getAttribute('data-code');
        button.addEventListener(
          'click',
          sendChoice.bind(null, choiceCode))
      }
    )
  }


  function onStartStopClicked() {
    const mode = document.getElementById('start-stop').textContent
    if (mode == 'Start') {
      startRps()
    } else if (mode == 'Stop') {
      stopRps()
    }
  }


  function startRps() {
    // Checking if left player is selected...
    const lplayerName = document.getElementById('lplayer-name').textContent
      .trim()
    if (lplayerName.startsWith('Select')) {
      showAlert('Please select the left player.');
      return;
    }
    // Checking if right player is selected...
    const rplayerName = document.getElementById('rplayer-name').textContent
      .trim()
    if (rplayerName.startsWith('Select')) {
      showAlert('Please select the right player.');
      return;
    }
    // Preventing two users game...
    if ((lplayerName === 'User') && (rplayerName === 'User')) {
      showAlert('This app does not support game between two users.');
      return
    }
    // Updating elements...
    document.getElementById('pause').disabled = false;
    document.getElementById('rock').disabled = false;
    document.getElementById('paper').disabled = false;
    document.getElementById('scissors').disabled = false;
    document.getElementById('start-stop').textContent = 'Stop'
  }


  function stopRps() {
    // Updating elements...
    document.getElementById('pause').disabled = true;
    document.getElementById('rock').disabled = true;
    document.getElementById('paper').disabled = true;
    document.getElementById('scissors').disabled = true;
    document.getElementById('start-stop').textContent = 'Start'
  }


  function sendChoice(userMove) {
    //
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    choiceReq = new Request(
      '',
      {
        method: 'POST',
        headers: {
          'Content-Type': 'text/plain',
          'X-CSRFToken': csrfToken,
        },
        body: `user_move=${userMove}`,
      }
    )
    //
    fetch(choiceReq)
      .then(response => response.json())
      .then(showMoveRes(response))
      .catch(err => showAlert(err))
  }


  function showMoveRes(res) {
    //
    lplayerName = document.getElementById('lplayer-name').trim()
    if (lplayerName === 'User') {
      document.getElementById('lplayer-score').textContent = res['user_score']
      document.getElementById('rplayer-score').textContent = res['com_score']
    } else {
      document.getElementById('lplayer-score').textContent = res['com_score']
      document.getElementById('rplayer-score').textContent = res['user_score']
    }
  }


  function showAlert(message, type = 'danger') {
    // Create the alert HTML
    const alertHTML = `
      <div class="alert alert-${type} alert-dismissible fade show custom-alert" role="alert">
        ${message}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>`;
    // Append the alert to the body (or a container)
    document.getElementById('alert-container').innerHTML = alertHTML;
    // Optionally remove the alert after 5 seconds
    setTimeout(
      () => {
        document.querySelector('.custom-alert').remove();
      },
      5000 // 5000 milliseconds = 5 seconds
    );
  }
{%- endblock endingScripts %}


<script>
  document.addEventListener(
    'DOMContentLoaded',
    onDomLoaded
  );


  function onDomLoaded() {
    // Showing selected player in the dropdown...
    const dropdownMenus = document.querySelectorAll('.dropdown-menu');
    dropdownMenus.forEach((item) => {
      item.addEventListener(
        'click',
        (event) => {
          // Getting the selected player text...
          const selectedPlayer = event.target.textContent;
          const dropdownButton = item.previousElementSibling
          dropdownButton.textContent = selectedPlayer
        }
      )
    })
    // Disabling some buttons...
    document.getElementById('pause').disabled = true;
    document.getElementById('rock').disabled = true;
    document.getElementById('paper').disabled = true;
    document.getElementById('scissors').disabled = true;
    // Adding click handler for `start-stop` button...
    document.getElementById('start-stop').addEventListener(
      'click',
      onStartStopClicked
    );
    // Attaching click event listener to each rock, paper, scissors buttons...
    var rpsBtns = document.querySelectorAll('#rock, #paper, #scissors');
    rpsBtns.forEach(
      (button) => {
        const choiceCode = button.getAttribute('data-code');
        button.addEventListener(
          'click',
          sendChoice.bind(null, choiceCode))
      }
    )
  }


  function onStartStopClicked() {
    const mode = document.getElementById('start-stop').textContent
    if (mode == 'Start') {
      startRps()
    } else if (mode == 'Stop') {
      stopRps()
    }
  }


  function startRps() {
    // Checking if left player is selected...
    const lplayerName = document.getElementById('lplayer-name').textContent
      .trim()
    if (lplayerName.startsWith('Select')) {
      showAlert('Please select the left player.');
      return;
    }
    // Checking if right player is selected...
    const rplayerName = document.getElementById('rplayer-name').textContent
      .trim()
    if (rplayerName.startsWith('Select')) {
      showAlert('Please select the right player.');
      return;
    }
    // Preventing two users game...
    if ((lplayerName === 'User') && (rplayerName === 'User')) {
      showAlert('This app does not support game between two users.');
      return
    }
    // Updating elements...
    document.getElementById('pause').disabled = false;
    document.getElementById('rock').disabled = false;
    document.getElementById('paper').disabled = false;
    document.getElementById('scissors').disabled = false;
    document.getElementById('start-stop').textContent = 'Stop'
  }


  function stopRps() {
    // Updating elements...
    document.getElementById('pause').disabled = true;
    document.getElementById('rock').disabled = true;
    document.getElementById('paper').disabled = true;
    document.getElementById('scissors').disabled = true;
    document.getElementById('start-stop').textContent = 'Start'
  }


  function sendChoice(userMove) {
    //
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    choiceReq = new Request(
      '',
      {
        method: 'POST',
        headers: {
          'Content-Type': 'text/plain',
          'X-CSRFToken': csrfToken,
        },
        body: `user_move=${userMove}`,
      }
    )
    //
    fetch(choiceReq)
      .then(response => response.json())
      .then(showMoveRes(response))
      .catch(err => showAlert(err))
  }


  function showMoveRes(res) {
    //
    lplayerName = document.getElementById('lplayer-name').trim()
    if (lplayerName === 'User') {
      document.getElementById('lplayer-score').textContent = res['user_score']
      document.getElementById('rplayer-score').textContent = res['com_score']
    } else {
      document.getElementById('lplayer-score').textContent = res['com_score']
      document.getElementById('rplayer-score').textContent = res['user_score']
    }
  }


  function showAlert(message, type = 'danger') {
    // Create the alert HTML
    const alertHTML = `
      <div class="alert alert-${type} alert-dismissible fade show custom-alert" role="alert">
        ${message}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>`;
    // Append the alert to the body (or a container)
    document.getElementById('alert-container').innerHTML = alertHTML;
    // Optionally remove the alert after 5 seconds
    setTimeout(
      () => {
        document.querySelector('.custom-alert').remove();
      },
      5000 // 5000 milliseconds = 5 seconds
    );
  }
</script>