{#
    The header for the entire Megacodist web site.
    
    No special context is needed. Only environment is sufficient.
#}
    
<head>
  <link rel="stylesheet" href="{{ static('css/header.css') }}">
</head>

{% block header %}
<header>

  <nav role="navigation" class="primary-navigation">
    <ul>
      <a class="navbar-brand" href="{{ url('home-page') }}"><img src="{{ static('img/megacodist-3.png') }}" alt="Megacodist" style="width: 48px; height: auto;"></a>

      <li><a href="#">Articles &dtrif;</a>
        <ul class="dropdown">
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Illustration</a></li>
          <li><a href="#">Iconography</a></li>
        </ul>
      </li>

      {# Link to `Challenges` page #}
      <li>
        <a class="nav-link active link" aria-current="page" href="{{ url('challenges:index-page') }}">Challenges</a>
      </li>

      {# Link to `About me` page #}
      <li>
        <a class="nav-link active link" aria-current="page" href="{{ url('about-me') }}">About me</a>
      </li>

      {# Link to `License` page #}
      <li>
        <a class="nav-link active link" aria-current="page" href="{{ url('license') }}">License</a>
      </li>
    </ul>
  </nav>

</header>
{%- endblock header %}