{#
    The header for the entire Megacodist web site.
    
    No special context is needed. Only environment is sufficient.
#}
    
<head>
  <link rel="stylesheet" href="{{ static('css/header.css') }}">
</head>

<header>
  <nav class="navbar">
    <div class="navbar-left beating-transition">
      <a href="#" class="logo">{% include 'svg/megacodist.svg' %}</a>
    </div>

    <div class="navbar-middle">
        <a href="https://medium.com/@megacodist" target="_blank" class="beating-transition">{% include 'svg/articles.svg' %}</a>
        <a href="{{ url('challenges:index-page') }}" class="beating-transition">{% include 'svg/challenges.svg' %}</a>
        <a href="{{ url('about-me') }}" class="beating-transition">{% include 'svg/about-me.svg' %}</a>
        <a href="{{ url('license') }}" class="beating-transition">{% include 'svg/license.svg' %}</a>
    </div>

    <div class="navbar-right">
      <button id="theme-toggler" class="beating-transition">
        {% include 'svg/dark-mode.svg' %}
        {% include 'svg/light-mode.svg' %}
      </button>
    </div>

    <!-- Hamburger Menu (for small screens) -->
    {% include 'svg/hamburger-menu.svg' %}

    <!-- Collapsed Menu (hidden by default on small screens) -->
    <div class="collapsed-menu" id="collapsed-nav">
      <ul class="collapsed-nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>