{#
    The header for the entire Megacodist web site.
    
    No special context is needed. Only environment is sufficient.
#}

<header>
  <nav class="navbar">
    <div class="navbar-left beating-transition">
      <a class="m3-lnk beating-transition" href="#"><i class="m3-megacodist"></i></a>
    </div>

    <div class="navbar-middle">
        <a class="m3-lnk beating-transition" href="https://medium.com/@megacodist" target="_blank"><i class="m3-articles"></i></a>
        <a class="m3-lnk beating-transition" href="{{ url('challenges:index-page') }}"><i class="m3-challenges"></i></a>
        <a class="m3-lnk beating-transition" href="{{ url('about-me') }}"><i class="m3-about-me"></i></a>
        <a class="m3-lnk beating-transition" href="{{ url('license') }}"><i class="m3-license"></i></a>
    </div>

    <div class="navbar-right">
      <button id="theme-toggler" class="beating-transition">
        <i id="dark-mode-icon" class="m3-dark-mode"></i>
        <i id="light-mode-icon" class="m3-light-mode"></i>
      </button>
    </div>

    <!-- Hamburger Menu (for small screens) -->
    <i class="m3-hamburger-menu"></i>

    <!-- Collapsed Menu (hidden by default on small screens) -->
    <div class="collapsed-menu" id="collapsed-nav">
      <ul class="collapsed-nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>