{#-
    The footer for the entire Megacodist web site.
-#}

<head>
    <link rel="stylesheet" href="{{ static('css/footer.css') }}">
    <link rel="stylesheet" href="{{ static('css/beating-transition.css') }}"">
</head>

{% block footer %}
    <!-- Footer -->
    <footer class="bg-dark pt-3 pb-0">
        <!-- Social media buttons -->
        <!-- The list of social media icons is in two rows on extra small screens and one row otherwise -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item beating-transition">
                <a href="https://twitter.com/megacodist" target="_blank" class="interface"><i class="fa-brands fa-twitter" style="font-size: 40px;"></i></a>
            </li>

            <li class="list-inline-item beating-transition">
                <a href="https://github.com/megacodist" target="_blank" class="interface"><i class="fa-brands fa-github" style="font-size: 40px;"></i></a>
            </li>

            <li class="list-inline-item beating-transition">
                <a href="https://linkedin.com/in/megacodist" target="_blank" class="interface"><i class="fa-brands fa-linkedin" style="font-size: 40px;"></i></a>
            </li>

            <li class="list-inline-item beating-transition">
                <a href="https://instagram.com/megacodist" target="_blank" class="interface"><i class="fa-brands fa-instagram" style="font-size: 40px;"></i></a>
            </li>

            <li class="list-inline-item beating-transition">
                <a href="https://wa.me/989377472900" target="_blank" class="interface"><i class="fa-brands fa-whatsapp" style="font-size: 40px;"></i></a>
            </li>

            <li class="list-inline-item beating-transition">
                <a href="https://t.me/mm91mm92" target="_blank" class="interface"><i class="fa-brands fa-telegram" style="font-size: 40px;"></i></a>
            </li>
        </ul>
        <!-- End social media buttons -->

        <!-- Copyright -->
        <div class="text-center mt-0 copywrite">
            <i class="fa-brands fa-creative-commons" style="font-size: 20px;"></i>
            <i class="fa-brands fa-creative-commons-by" style="font-size: 20px;"></i>
            <i class="fa-brands fa-creative-commons-sa" style="font-size: 20px;"></i>
            Megacodist.com is available under <a class="interface external" target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License 3.0</a> unless otherwise mentioned.
        </div>

        <div class="text-center mb-3 mt-0 copywrite">
            © 2022 Copyright: <strong>Megacodist</strong>
        </div>
        <!-- End copyright -->
    </footer>
{% endblock footer %}