{#
    The header for the entire Megacodist web site. It requires the following context:

    context = {
        'topics':   # A QuerySet contains all topics in the blog.
    }
#}
    
<head>
    <link rel="stylesheet" href="{{ static('css/header.css') }}">

    <style>
        div.mm1-header {
            /* Setting background image of the header */
            background-image: url("{{ static('img/banner.png') }}");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
    
            min-height: 125px;
        }
    </style>
</head>

{% block header %}
<header>
    <div class="mm1-header bg-dark">
        <div class="container-fluid">
        </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('blog:home-page') }}"><img src="{{ static('img/megacodist-3.png') }}" alt="Megacodist" style="width: 48px; height: auto;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-grip-lines" style="color: orange;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2">
                    <!-- Creating a split button for All Topics & every topic in the database -->
                    <li class="nav-item m-1">
                        <div class="btn-group">
                            {% set topics_url = url('blog:topics') %}
                            <button type="button" class="btn btn-warning" onclick="location.href='{{ topics_url }}'">All Topics</button>
                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for topic in topics %}
                                    {% set kwargs_ = dict(topic_slug=topic.slug) %}
                                    <li><a class="dropdown-item" href="{{ url('blog:specific-topic', kwargs=kwargs_) }}">{{ topic.name }}</a></li>
                                {%- else %}
                                    <span><i>No topic</i></span>
                                {%- endfor %}
                            </ul>
                          </div>
                    </li>

                    <li class="nav-item m-1">
                        {% set about_me_url = url('blog:about-me') %}
                        <button type="button" class="btn btn-outline-warning" onclick="location.href='{{ about_me_url }}'">About me!!</button>
                    </li>
                </ul>
                <form class="d-flex" method="post" action="{{ url('blog:search') }}">
                    <!-- Sending the CSRF token -->
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
{%- endblock header %}