/*
	======================================================================================================================================
	
	This CSS file is the main casecade style sheet for the entire Megacodist web site, hence it is named after this truth (main.css).

	======================================================================================================================================
*/

/* Default light theme */
:root {
	/* Colors */
	--bg-clr: rgba(202, 185, 167, 0.932);
	--txt-clr: rgb(34, 23, 2);
	--txt-active-clt: rgb(189, 76, 1);
	--txt-hover-clr:  rgb(224, 224, 0);
	--btn-clr: rgb(0, 0, 0);
	--shadow-clr: rgba(0, 0, 0, 0.3);

	/* Measurements */
	--line-width: 2px;
}

/* Dark theme */
[data-theme='dark'] {
	/* Colors */
	--bg-clr: rgba(54, 50, 46, 0.932);
	--txt-clr: rgb(224, 147, 4);
	--txt-active-clt: rgb(189, 76, 1);
	--txt-hover-clr:  rgb(224, 224, 0);
	--btn-clr: rgb(250, 213, 188);
	--shadow-clr: rgba(0, 0, 0, 0.3);

	/* Measurements */
	--line-width: 2px;
	--line-radius: 0.3;
}

html {
  height: 100vh;
}
body {
	/*  */
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	grid-template-areas:    "header"
	                        "main"
						    "footer";
	margin: 0;
	/*  */
	background-color: var(--bg-clr);
	color: var(--txt-clr);
}


/* Customizing theme toggler button */
#theme-toggler {
	appearance: none;
	position: fixed; /* Fixes the button's position */
	bottom: 20px;    /* Distance from the bottom of the screen */
	right: 20px;     /* Distance from the right of the screen */
	cursor: pointer;
	width: 40px;
  	height: 40px;
	border-radius: 20px;

	background-size: cover; /* or contain, depending on your images */
	background-repeat: no-repeat;
	
	/* background-image: url("../img/dark-mode.png");   Image for the "off" state */
	/* background-image: url("../img/light-mode.png");  Image for the "on" state */
}


/* Customizing anchor elements */
a.link {
	color: var(--txt-clr) !important;
	text-decoration-line: underline !important;
	text-decoration-style: dotted !important;
	text-decoration-thickness: 12% !important;
}
a.link:hover {
	color: var(--txt-hover-clr) !important;
  	cursor: pointer;
  	text-decoration-line: underline !important;
  	text-decoration-style: solid !important;
}
a.external[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
  size: 0.5rem;
}


/* mm-btn */
.mm-btn {
	align-items: center;
	background-clip: padding-box;
	background-color: var(--bg-clr);
	border: var(--line-width) solid var(--txt-clr);
	border-radius: var(--line-radius);
	box-shadow: var(--shadow-clr) 0 1px 3px 0;
	box-sizing: border-box;
	color: var(--txt-clr);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.mm-btn:hover,
.mm-btn:focus {
	background-color: var(--txt-hover-clr);
	box-shadow: var(--shadow-clr) 0 4px 12px;
}

.mm-btn:hover {
  	transform: translateY(-1px);
}

.mm-btn:active {
	background-color: #c85000;
	box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
	transform: translateY(0);
}


section.notes {
  font-size: small;
}
