/*
	======================================================================================================================================
	
	This CSS file is the casecade style sheet for the footer of Megacodist web site, hence it is named after its functionality (footer.css).

	======================================================================================================================================
*/

footer {
	grid-area: footer;
	background-color: var(--m3-banner-bg-clr);
	color: var(--m3-txt-clr);
	text-align: center;
	border-top: var(--m3-line-small) solid var(--m3-a-link-clr);
	padding: var(--m3-spacing-medium);
}
footer > ul > li > a > svg.icon {
    width: var(--m3-grphc-small);
    height: var(--m3-grphc-small);
    fill: var(--m3-a-link-clr);  /* Changes the fill color of all SVG elements */
}